{% block html_head_container %}
    {% include 'layout/html-header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}">
<div class="inner-site" data-barba="wrapper">
	<div class="custom-cursor">
		<div class="cursor-content">
			<div class="cursor-circle"></div>
			<div class="cursor-label"></div>
            <div class="cursor-icon"></div>
            <div class="cursor-drag"></div>
		</div>
	</div>
    {% block intro %}
        {% include 'home/intro.twig' %}
    {% endblock %}
    {% block header %}
        <header class="header">
            <a class="logo" href="{{site.url}}"><img src="{{custom_logo_url}}"/></a>
            <button class="btn-main">
                <span class="main-bar"></span>
            </button>
        </header>
        <nav id="nav-main" class="main">
            <div class="wrap-main">
                <div class="wrap-left">
                    <div class="bg-img">
                    {% for i, item in menu.get_items %}
                    {% set number = i + 1 %}
                        <img class="item-img{% if loop.first %} active{% endif %}" src="{{ Image(item.meta('nav_thumb')).src }}" data-img="img-{{number}}">
                    {% endfor %}
                    </div>        
                </div>
                <div class="wrap-right">
                    {% include "layout/menu.twig" with {'items': menu.get_items} %}  
                </div>
            </div>
        </nav>        
    {% endblock %}
    <div id="app">
		{% block content %}
        {% endblock %} 
	</div>
</div>
    {% block footer %}
        <footer>
            {% include 'layout/footer.twig' %}
        </footer>
	    {{ function('wp_footer') }}
    {% endblock %}
    <div class="page-transition-backdrop"></div>      
</body>

</html>