{# {{ dump(post) }}      #}
<div class="col-work work-title">
    <div class="title-content">
        <h2 class="title">{{post_work.work_title}}</h2>
        <h3 class="subtitle">{{post_work.work_subtitle}}</h3>
    </div>
</div>
<div class="col-work work-slider">
{% for post in posts %}
    <div class="slider-item">
        <img class="thumb" src="{{post.thumbnail.src}}" alt="">
    </div>
{% endfor %}           
</div>
<div class="col-work work-items">
{% for post in posts %}
    <div class="item-title {% if loop.first %}active{% endif %}">
       <a href="{{post.link}}" class="title" data-cursor-label="Voir le projet" data-splitting>{{post.title}}</a>
    </div>
{% endfor %}                         
</div>
<div class="col-work"></div>
<div class="col-work work-pagination">
    <div class="pagination">
    {% for i, post in posts %}
        {% set number = i + 1 %}
        {% if loop.first %}
            <div class="pagination-number pagination-number-first">0{{number}}</div>
        {% endif %}    
    {% endfor %}     
            <div class="pagination-bar">
                <div class="bar-line"></div>
            </div>
    {% for i, post in posts %}
        {% set number = i + 1 %}
        {% if loop.last %}        
            <div class="pagination-number pagination-number-last">0{{number}}</div> 
        {% endif %}
    {% endfor %}         
    </div>
</div>